/* checkboxes */
input[type=checkbox] {

}
/* native color picker */
input[type=color] {

}
/* input text */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  box-sizing: border-box;
  width: 100%;
  line-height: 44px;
  padding: 0 20px;
  font-size: var(--font-size-s);
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* file upload */
input[type=file] {
  width: 100%;
  padding: 20px;
}
/* hidden */
input[type=hidden] {

}
/* image */
input[type=image] {

}
/* radio buttons */
input[type=radio] {

}
